@media screen and (max-width: 1180px) {
    header, main{
        margin-left: 13px;
        margin-right: 13px;
    }
    nav > ul{
        width: 410px;
    }
    form{
        padding: 10px;
        gap: 13px;
    }
    .popular-tours-image{
        height: 500px;
    }
    .destination-scenario{
        gap: 18px;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        width: 750px;
        height: 350px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px) {
    .header-info{
        padding-left: 9px;
        padding-right: 9px;
    }
    nav > ul{
        display: none;
    }
    .nav-icon{
        display: block;
        font-size: 1.6rem;
    }
    form{
        width: min-content;
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 50px);
    }
    .popular-tours-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    .popular-tours-contents{
        width: 100%;
    }
    .popular-tours-image{
        width: 550px;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        max-width: 556px;
        height: 340px;
    }
    .choose-items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choose-item3{
        transform: translate(0);
    }
    .choose-intro{
        padding: 0 30px;
    }
}
@media screen and (max-width: 585px) {
    p, li{
        font-size: 1rem;
        line-height: 23px;
    }
    .title{
        font-size: 2.1rem;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-description{
        line-height: 21px;
    }
    .popular-tours-contents{
        gap: 19px;
    }
    .popular-tours-image{
        width: 100%;
        height: 440px;
    }
    .popular-tours-container{
        margin-bottom: 50px;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        width: 400px;
        height: 305px;
    }
    .choose-intro{
        padding: 0 15px;
    }
    .choose-items > div{
        padding: 20px 25px 20px 20px;
    }
}
@media screen and (max-width: 425px){
    header, main{
        margin: 20px 13px 40px 13px;
    }
    .title{
        font-size: 1.52rem;
    }
    .text-style{
        font-size: 1rem;
        line-height: 22px;
    }
    .logo{
        height: 40px;
    }
    .logo > img{
        height: 40px;
    }
    .logo > h1{
        font-size: 1.8rem;
    }
    nav{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .nav-icon{
        font-size: 1.2rem;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    form > *{
        height: 45px;
    }
    form > button{
        width: 100% !important;
    }
    .popular-tours-image{
        height: 350px;
    }
    .destination-scenario > div > h4{
        font-size: 1.2rem;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        width: 290px;
        height: 220px;
    }
}