@media screen and (max-width: 1180px) {
    header, main{
        margin-left: 13px;
        margin-right: 13px;
    }
    nav > ul{
        width: 410px;
    }
    form{
        padding: 10px;
        gap: 13px;
    }
    .popular-tours-image{
        height: 500px;
    }
    .destination-scenario{
        gap: 18px;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        width: 750px;
        height: 350px;
        margin: 0 auto;
    }
    .deals-1, .deals-2{
        height: 480px;
    }
    .deals-1 > div, .deals-2 > div{
        padding: 25px;
        margin: 30px;
    }
    .times-and-places{
        flex-wrap: wrap;
        gap: 8px 20px;
    }
    .perfect-place-review > iframe{
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 800px) {
    .header-info{
        padding-left: 9px;
        padding-right: 9px;
    }
    nav > ul{
        display: none;
    }
    .nav-icon{
        display: block;
        font-size: 1.6rem;
    }
    .hero-container > form{
        width: min-content;
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 50px);
    }
    .popular-tours-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    .popular-tours-contents{
        width: 100%;
    }
    .popular-tours-image{
        width: 550px;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        max-width: 556px;
        height: 340px;
    }
    .choose-items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choose-item3{
        transform: translate(0);
    }
    .choose-intro{
        padding: 0 30px;
    }
    .deals-1 > div, .deals-2 > div{
        padding: 20px 30px 20px 20px;
        margin: 18px;
    }
    .times-and-places > p, .times-and-places > p > i{
        font-size: 0.94rem;
    }
    .perfect-place-container{
        margin-top: 60px;
        flex-direction: column;
        gap: 25px;
    }
    .perfect-place-contents{
        max-width: 85vw;
    }
    .perfect-place-review > iframe{
        width: 85vw;
        height: 400px;
    }
    .newsletter-container{
        flex-direction: column;
        height: fit-content;
        max-width: 80vw;
        margin: 70px auto 70px auto;
    }
    .newsletter-form{
        padding: 25px 28px;
        max-width: 100%;
    }
    form > div{
        margin-top: 20px;
    }
    .newsletter-form > h4{
        margin-bottom: 20px;
    }
    .news-bg{
        max-width: 100%;
        height: 350px;
    }
}
@media screen and (max-width: 585px) {
    p, li{
        font-size: 1rem;
        line-height: 23px;
    }
    .primary-btn{
        width: 160px;
        height: 41px;
    }
    .title{
        font-size: 2.1rem;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-description{
        line-height: 21px;
    }
    .popular-tours-contents{
        gap: 19px;
    }
    .popular-tours-image{
        width: 100%;
        height: 440px;
    }
    .popular-tours-container{
        margin-bottom: 50px;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        width: 400px;
        height: 305px;
    }
    .choose-intro{
        padding: 0 15px;
    }
    .choose-items > div{
        padding: 20px 25px 20px 20px;
    }
    .deals-1, .deals-2{
        height: 500px;
        align-items: end;
    }
    .deals-1 > div, .deals-2 > div{
        max-width: 100%;
        gap: 10px;
        height: 300px;
        margin: 14px;
        padding: 16px;
    }
    form > button{
        height: 50px !important;
    }
    .perfect-place-contents{
        max-width: 90vw;
    }
    .perfect-place-review > iframe{
        width: 90vw;
        height: 260px;
    }
    .newsletter-container{
        max-width: 98vw;
    }
    .newsletter-form{
        padding: 12px 12px;
    }
}
@media screen and (max-width: 425px){
    header, main{
        margin: 20px 13px 40px 13px;
    }
    .title{
        font-size: 1.52rem;
    }
    .text-style{
        font-size: 1rem;
        line-height: 22px;
    }
    .logo{
        height: 40px;
    }
    .logo > img{
        height: 40px;
    }
    .logo > h1{
        font-size: 1.8rem;
    }
    nav{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .nav-icon{
        font-size: 1.2rem;
    }
    .hero-container > form{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .hero-container > form > *{
        height: 45px;
    }
    .hero-container > form > button{
        width: 100% !important;
        height: 50px !important;
    }
    .popular-tours-image{
        height: 350px;
    }
    .destination-scenario > div > h4{
        font-size: 1.2rem;
    }
    .choose-items > div > h4{
        font-size: 1.1rem;
    }
    .destination-scenario > div, .destination-scenario > div > img{
        width: 290px;
        height: 220px;
    }
    .deals-container{
        gap: 20px;
    }
    .deals-1 > div > h4, .deals-2 > div > h4{
        font-size: 1.1rem;
    }
    .deals-1 > div, .deals-2 > div{
        height: 318px;
        padding: 14px;
    }
    .price{
        font-size: 1rem;
        font-weight: 800;
    }
    .perfect-place-contents > h1{
        max-width: 98%;
    }
    .perfect-place-review > iframe{
        width: 90vw;
        height: 190px;
        border-radius: 10px;
    }
    .news-bg{
        height: 260px;
    }
    .newsletter-form > h4{
        font-size: 1.35em;
    }
    .news-bg > div{
        width: 244px;
        height: 65px;
        bottom: 53px;
        right: -2px;
    }
    .news-bg > div > h5{
        font-size: 1.3rem;
    }
    .news-bg > div > h4{
        font-size: 1.51rem;
    }
}
