*{
    margin: 0;
    padding: 0;
}

/* Fonts */
.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared style */
header, main{
    max-width: 1170px;
    margin: 50px auto 90px auto;
}
:root{
    --description-color: rgba(53, 53, 53, 0.329);
    --highlights: tomato;
    --btn-bg: tomato;
    --primary-intro-width: 800px
}
span{
    color: var(--highlights);
}
.title{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.text-style{
    color: rgb(117, 117, 117);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 25px;
}
.primary-btn{
    background-color: tomato;
    color: white;
    width: 170px;
    height: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;
}



/* Header Section starts here */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo > h1{
    font-size: 2.2rem;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
nav > ul{
    width: 460px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
nav > ul > li{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-icon{
    display: none;
}
nav > ul > li:first-child{
    color: var(--highlights);
    font-weight: bold;
}

.hero-container{
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(187, 187, 187, 0.048)
    ), url(../assets/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-info{
    max-width: 700px;
}
.hero-title{
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 18px;
}
.hero-description{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}
form{
    background-color: rgba(170, 170, 170, 0.459);
    border-radius: 13px;
    padding: 16px;
    display: flex;
    gap: 18px;
}
form > input, form > select{
    border: none;
    outline: none;
    border-right: 15px solid transparent;
    font-size: 1.2rem;
    border-radius: 9px;
    /* width: 170px; */
}
form > select, form > input{
    padding-left: 15px;
}
form > select, form > input::placeholder{
    color: #757575;
    font-size: 1rem;
}
/* Header Section ends here */

/* Popular Tours section starts here */
.popular-tours-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin-bottom: 80px;
}
.popular-tours-contents{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.popular-tours-contents > h1{
    text-align: left;
}
.popular-tours-items{
    padding-left: 20px;
}
.popular-tours-items > *{
    padding: 8px 0;
}
.popular-tours-image{
    width: 50%;
    height: fit-content;
}
.popular-tours-image > img{
    height: 100%;
    width: 100%;
}

/* Popular Tours section ends here */

/* Destination section starts here */
.destination-container{
    margin-bottom: 80px;
}
.destination-intro{
    max-width: var(--primary-intro-width);
    margin: 0 auto 31px auto;
}
.destination-intro > p{
    margin-top: 20px;
    text-align: center;
}
.destination-scenario{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}
.destination-scenario > div{
    color: white;
    position: relative;
}
.destination-scenario > div > h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.55rem;
    font-weight: 800;
}
.destination-scenario > div > img{
    border-radius: 18px;
}
/* Destination section ends here */

/* Choose section starts here */
.choose-intro{
    max-width: var(--primary-intro-width);
    margin-left: auto;
    margin-right: auto;
}
.choose-intro > p{
    margin-top: 20px;
    text-align: center;
}
.choose-items{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.choose-items > div{
    max-width: 550px;
    padding: 30px 40px 30px 30px;
    border-radius: 18px;
}
.choose-items > div > h4{
    font-size: 1.48rem;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 15px;
}
.choose-items > div > img{
    width: 70px;
    height: 70px;
}
.choose-item1{
    background-color: rgba(241, 172, 45, 0.075);
    border: 1px solid rgba(247, 186, 73, 0.356);
}
.choose-item2{
    background-color: rgba(139, 217, 248, 0.075);
    border: 1px solid rgba(139, 217, 248, 0.366);
}
.choose-item3{
    transform: translate(50%);
    background-color: rgba(255, 22, 22, 0.075);
    border: 1px solid rgba(253, 96, 96, 0.355);
}
/* Choose section ends here */

/* Deals section starts here */
.deals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.deals-intro{
    max-width: var(--primary-intro-width);
    margin: 80px auto 10px auto;
}
.deals-intro > p{
    text-align: center;
    margin-top: 22px;
}
.deals-1{
    background: url(../assets/deals-bg-1.png);
    display: flex;
    justify-content: end;    
    height: 500px;
    background-position: center;
    border-radius: 15px;
}
.times-and-places{
    max-width: fit-content;
    display: flex;
    gap: 30px;
}
.times-and-places > p{
    color: rgba(53, 53, 53, 0.616);
    font-size: 1rem;
    font-weight: 400;
}
.times-and-places > p > i{
    color: var(--highlights);
    font-size: 1rem;
}
.deals-1 > div, .deals-2 > div{
    background-color: rgba(255, 255, 255, 0.829);
    max-width: 41%;
    border-radius: 19px;
    padding: 40px 50px 40px 40px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.deals-2{
    height: 500px;
    background: url(../assets/deals-bg-2.png);
    display: flex;
    justify-content: start;
    background-position: center;
    border-radius: 15px;
}
.deals-1 > div > h4, .deals-2 > div > h4{
    font-weight: 800;
    font-size: 1.3rem;
    /* margin-top: 10px; */
}
.price{
    color: var(--highlights);
    font-size: 1.22rem;
    font-weight: 800;
}

/* Deals section ends here */